body {
  display: block;
  height: auto; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.circle-container {
  position: relative;
  width: 400px;
  height: 560px;
  margin: 8px auto 0;
  padding-bottom: 56px;

   /* parameters */
  --W: 60px;                /* target width */
  --r: calc(var(--W) / 2);  /* target radius */
  --D: 280px;               /* center-to-center distance */
  
}

.circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  border: 1px solid #333;
  background-color: gray;
  cursor: pointer;
  position: absolute;
  user-select: none;
}

#center-circle {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--W);
  height: var(--W);
  background-color: gray;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: black;
  text-align: center;
  cursor: pointer;
}

#hold-button {
  position: absolute;
  bottom: 24px;           
  left: 50%;
  /* place its CENTER exactly D below the center circle */
  top: calc(50% + var(--D) - var(--r));
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}

#message {
  position: absolute;
  top: calc(50% + 60px); 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: center;
  pointer-events: none;
}

.task-container {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.task-description {
  font-size: 16px;
  margin: 4px 0 8px;
  color: #333;
}

.otree-title,
.otree-title h1 {
  text-align: center;
  margin-bottom: 8px;
}

#next-container {
  margin: 56px auto;
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 6px 16px;
}